body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgray;
}

#questionBox{
  text-align: center;

}

.flip-card {
  float: left;
  padding: 30px;
  width: 300px;
  height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(212, 55, 55);
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* SECOND BOX TEST TEST */

.flip-card2 {
  float: left;
  padding: 30px;
  width: 300px;
  height: 300px;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.flip-card2:hover .flip-card-inner2 {
  transform: rotateX(180deg);
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front2 {
  background-color: rgb(212, 55, 55);
  color: black;
}

.flip-card-back2 {
  background-color: #29b94d;
  color: white;
  transform: rotateX(180deg);
}